@use "components";
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600&display=swap');
*{
    
    box-sizing: border-box;
}

body{
    background-color: components.$color-background;
    color:white;
}


.contenedor{
    margin:0 2rem;

    .nav{
        text-align: center;
        .logo-page{
            h1{
                font-family: components.$font-family-logo;
                font-size: 4rem;
                font-weight: 200;
                letter-spacing:9px;
            }
        }

    }
    .contenido{
        .bienvenidos{
            width: 100%;
            
            .contenedor-bienvenida{
                width: 100vw;
                max-width: 100%;
                min-width:300px;
                margin: auto;
                position:relative;
                overflow: hidden;
                border-radius:6px;
                box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
                cursor:pointer;
                img{
                    width:100%;
                    max-height: 60vh ;
                }
                .capa{
                    position:absolute;
                    top:0;
                    width:100%;
                    height:100%;
                    background: rgba(0, 0, 0, 0.5);
                    opacity: 1;
                    transition: all 0.5s ease-out;
                    text-align:center;
                    h3{
                        color:white;
                        font-weight: 600;
                        font-size: 3rem;
                        font-family: components.$font-family-text;
                        letter-spacing:8px;
                        transition: all 0.7s ease-in-out;
                        //margin-top:30px;
                    }
                    p{
                        color:white;
                        font-size: 15px;
                        font-weight: 200;
                        max-width: 60vw;
                        min-width: 50vw;
                        line-height:1.5;
                        letter-spacing:2px;
                        margin:auto;
                        font-family: components.$font-family-text;
                    }
                }
                &:hover{
                    .capa{
                    visibility: hidden;
                    opacity: 0;
                    
                    }
                    img{
                        transform: scale(1.3);
                        transition: all 500ms ease-in;

                    }
                }
            }
        }

        .galeria{
            display:grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows:150px;
            padding: 20px;
            grid-gap:10px;
            .post{
                position: relative;
                cursor: pointer;
                .imagen{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .title{
                    width: 100%;
                    padding:10px;
                    margin:0;
                    position:absolute;
                    bottom:0;
                    background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1));
                    font-family: components.$font-family-text;
                    font-size: 0.9rem;
                    font-weight: 400;
                    letter-spacing: 2px;                    
                }
                .capa{

                    position: absolute;
                    background-color: rgb(255, 255, 255);
                    width: 100%;
                    height: 100%;
                    top:0;
                    opacity: 0.2;
                    visibility: hidden;
                }

                &:hover{
                    .capa{
                        visibility: visible;
                    }

                }
                &:nth-child(1){
                    grid-column-start: span 1;
                    grid-row-start: span 3;
                }

                &:nth-child(2){
                    grid-column-start:span 2;
                    grid-row-start: span 3;
                }

                &:nth-child(3){
                    grid-column-start: span 2;
                    grid-row-start: span 2;
                }

                &:nth-child(4){
                    grid-row-start: span 3;
                }
                &:nth-child(5){
                    grid-column-start: span 2;
                    grid-row-start: span 4;
                }
                &:nth-child(6){
                    grid-row-start: span 4;
                    grid-row-start: span 3;

                }
                
            }
        }
    }
}


@media (max-width: 768px){
    .contenedor{
        .nav{
            .logo-page{
                h1{
                    font-size: 2rem;
                }
            }
        }
        .contenido{
            .bienvenidos{
                .contenedor-bienvenida{
                    .capa{
                        padding-top:20px;
                        h3{
                            font-size:2rem;
                            width: 100%;
                        }
                        p{
                            font-size:1rem;
                        }
                    }
                }
            }

            .galeria{
                //grid-template-columns: repeat(1,1fr);
                display:flex;
                flex-direction: column;
                margin:0;
                padding:2rem 0;
                .post{
                    position:relative;
                    .title{
                        position:absolute;
                        bottom:0;
                        background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(0,0,0,1));
                        width: 100%;
                        padding:1rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .contenedor{
        .contenido{
            .galeria{
                .post{
                    &:nth-child(1){
                        grid-row: 1/5;
                        grid-column-start:span 1;
                    }
                    &:nth-child(2){
                        grid-row: 1/5;
                        grid-column-start:span 2;
                    }
                    &:nth-child(3){
                        grid-column: 1 / 4;
                        grid-row: 5 / 7;
                    }
                    &:nth-child(4){
                        grid-row: 7 /11;
                        //grid-column:;
                    }
                    &:nth-child(5){
                        grid-row: 7/11;
                        grid-column:2/4;
                    }
                    &:nth-child(6){
                        grid-row:11/1;
                        grid-column:1/4;
                    }
                    .title{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}